
<H1>ÚLTIMAS CUOTAS GENERADAS</H1>

<mat-form-field class="buscador" appearance="fill">
  <mat-label>Buscar socio</mat-label>
  <input matInput type="text" [(ngModel)]="buscar">
  <button *ngIf=" buscar !=='' " matSuffix mat-icon-button aria-label="Clear" (click)="buscar=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button>GENERAR CUOTA PARA {{buscar}}</button>

<mat-accordion class="cuota" multi *ngFor="let cuota of cuotas">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{cuota.id}}
      </mat-panel-title>
      <mat-panel-description>
        Estado: {{cuota.estado}}
      </mat-panel-description>
      <mat-panel-description>
        Cuota del: {{cuota.mes_anio}}
      </mat-panel-description>
      <mat-panel-description>
        Importe: {{cuota.importe | currency}}
      </mat-panel-description>
      <mat-icon class="icon">account_circle</mat-icon>
    </mat-expansion-panel-header>

    <!-- Si es administrador muestro para registrar pago -->
    <div *ngIf="true" [ngTemplateOutlet]="registrarPago"></div>

  </mat-expansion-panel>
</mat-accordion>

<!-- Vista para los administradores -->
<ng-template #registrarPago>
  <mat-form-field appearance="fill">
    <mat-label>Metodo de pago</mat-label>
    <mat-select>
      <mat-option value="efectivo">Efectivo</mat-option>
      <mat-option value="credito">Tarjeta credito</mat-option>
      <mat-option value="debito">Tarjeta debito</mat-option>
      <mat-option value="deposito">Deposito</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Referencia de pago</mat-label>
    <input matInput>
  </mat-form-field>

  <button>PAGO</button>
</ng-template>

<!-- FIN Vista para los administradores -->
