
<H1>ÚLTIMAS CUOTAS GENERADAS</H1>
<!-- Buscador y generador de cuotas -->
<mat-card class="buscador">
    <mat-card-header>
        <mat-card-title>BUSCADOR:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Buscar socio</mat-label>
        <input matInput type="text" [(ngModel)]="buscar" (keyup)="buscador()"
        matTooltip="Si se encuentra una sola persona, podra generar la cuota de esta.">
        <button *ngIf=" buscar !=='' " matSuffix mat-icon-button aria-label="Clear" (click)="buscar=''; buscador()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button (click)="generarCuota()" matTooltip="Le posibilita generar cuotas de una persona o a todos los socios." mat-raised-button class="buscador_btn">
        Generar cuota a {{generar_cuota_socio}}
        <mat-icon class="mat-18">payments</mat-icon>
      </button>
    </mat-card-content>
    <mat-card-footer class="buscador_footer">
        Puede buscar las cuotas de un socio y generar nuevas cuotas para el o para todos los socios.
    </mat-card-footer>
</mat-card>

<!-- FINBuscador y generador de cuotas -->

<mat-accordion class="cuota" multi *ngFor="let cuota of resultado_busqueda">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{cuota.id}}
      </mat-panel-title>
      <mat-panel-description>
        Estado: {{cuota.estado}}
      </mat-panel-description>
      <mat-panel-description>
        Cuota del: {{cuota.mes_anio}}
      </mat-panel-description>
      <mat-panel-description>
        Importe: {{cuota.importe | currency}}
      </mat-panel-description>
      <mat-icon class="icon">account_circle</mat-icon>
    </mat-expansion-panel-header>

    <!-- Si es administrador muestro para registrar pago -->
    <div *ngIf="true" [ngTemplateOutlet]="registrarPago"></div>

  </mat-expansion-panel>
</mat-accordion>

<!-- Vista para los administradores -->
<ng-template #registrarPago>
  <mat-form-field appearance="fill">
    <mat-label>Metodo de pago</mat-label>
    <mat-select>
      <mat-option value="efectivo">Efectivo</mat-option>
      <mat-option value="credito">Tarjeta credito</mat-option>
      <mat-option value="debito">Tarjeta debito</mat-option>
      <mat-option value="deposito">Deposito</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Referencia de pago</mat-label>
    <input matInput>
  </mat-form-field>

  <button>PAGO</button>
</ng-template>

<!-- FIN Vista para los administradores -->

