<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Cuotas</mat-card-title>
        <mat-card-subtitle>DANILO</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <!-- aca va in for donde se muestren todas las cuotas -->
        <mat-list-item>Nombre: {{cuota.estado}} </mat-list-item>
        <mat-list-item>Apellido paterno: {{cuota.importe}}</mat-list-item>
        <mat-list-item>Apellido materno: {{cuota.mes_anio}}</mat-list-item>
        <mat-list-item>Fecha de nacimiento: {{cuota.metodo_pago}}</mat-list-item>
      </mat-list>
    </mat-card-content>

</mat-card>

