h1 {
  display: flex;
  color: #127300;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1em;
  margin: 0.5em;
  justify-content: center;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.cuota .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.cuota .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.cuota{
  background-color: #c7d7ca;
  display: block;
  margin: auto;
  border-top-width: 1px;
  width: 90%;
  padding: 0.5em 1em;
}

.icon{
  margin: 1em;
}

.buscador {
  background-color: #c7d7ca;
  width: 90%;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: auto auto;
  grid-template-columns: 10vw 50vw;
  margin: 1em auto;
}

.buscador_footer {
  grid-column: 1/3;
}

.buscador_btn {
  background-color: grey;
  margin: 1em;
}
