.example-action-buttons {
  padding-bottom: 20px;
}

.cuota .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.cuota .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.cuota{
  background-color: #c7d7ca;
  display: block;
  margin: auto;
  border-top-width: 1px;
  width: 90%;
  padding: 0.5em 1em;
}

.icon{
  margin: 1em;
}

.buscador {
  background-color: #c7d7ca;
  width: 90%;
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: 20vh 60vh;
  margin: 1em auto;
}

.buscador_footer {
  grid-column: 1/3;
}

.buscador_btn {
  background-color: grey;
  margin: 1em;
}
