<h1 mat-dialog-title>GENERAR CUOTA</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Mes y año de inicio</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="start">
    <mat-hint>MM/AAAA</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="year"
                    (monthSelected)="setMonthAndYearStart($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="start.touched" >
    <mat-label>Mes y año de finalizacion</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="end" [min]="minDate">
    <mat-hint>MM/AAAA</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="year"
                    (monthSelected)="setMonthAndYearEnd($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button mat-button [mat-dialog-close]="{start,end}" cdkFocusInitial>GENERAR</button>
</div>
