.example-form-field {
  margin: 0 8px 16px 0;
  width: 70%;
  background-color: blue;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
