.card{
  background-color: #deebdc;
  max-width: 400px;
  padding: 1em;
}

.perfil{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1em;
  gap: 1em;
  align-content: space-around;
}
