<mat-card class="card">

  <mat-card-content>

    <mat-list role="list">
      <mat-list-item role="listitem">Nombre: {{person.nombre}}</mat-list-item>
      <mat-list-item role="listitem">Apellido paterno: {{person.apellido_paterno}}</mat-list-item>
      <mat-list-item role="listitem">Apellido materno: {{person.apellido_materno}}</mat-list-item>
      <mat-list-item role="listitem">Fecha de nacimiento: {{person.fecha_nacimiento}}</mat-list-item>
      <mat-list-item role="listitem">Dirección: {{person.direccion}}</mat-list-item>
      <mat-list-item role="listitem">Teléfono: {{person.telefono}}</mat-list-item>
      <mat-list-item role="listitem">Celular: {{person.celular}}</mat-list-item>
      <mat-list-item role="listitem">Correo electrónico: {{person.correo}}</mat-list-item>
    </mat-list>

  </mat-card-content>

</mat-card>
