<mat-card class="card">

  <mat-card-content>

    <mat-list role="list">
      <mat-list-item role="listitem" >Nombre: {{nombre}}</mat-list-item>
      <mat-list-item role="listitem">Apellido paterno: {{apellido_paterno}}</mat-list-item>
      <mat-list-item role="listitem">Apellido materno: {{apellido_materno}}</mat-list-item>
      <mat-list-item role="listitem">Fecha de nacimiento: {{fecha_nacimiento}}</mat-list-item>
      <mat-list-item role="listitem">Dirección: {{direccion}}</mat-list-item>
      <mat-list-item role="listitem">Teléfono: {{telefono}}</mat-list-item>
      <mat-list-item role="listitem">Celular: {{celular}}</mat-list-item>
      <mat-list-item role="listitem">Correo electrónico: {{correo}}</mat-list-item>
    </mat-list>

  </mat-card-content>

</mat-card>
