.verdeAbu{
  background-color: rgb(24, 153, 0);
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  margin-right: 1em;
  max-height: 5em;
  padding: 1em;
}

.opcionesUsuario{
  justify-content: space-between;
}
