{% extends "admin/base_site.html" %}

{% block extrahead %}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">  
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- CSS propio -->
        <link rel="stylesheet" href="../../static/css/styles.css">
{% endblock %}

{% block title %} Perfil {% endblock title%}
{% block content %}
<div class="container">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../../static/img_perfil.webp" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ user.nombre }}, {{ user.apellido_paterno }}</h4>
                      <p class="text-secondary mb-1"> Número de socio: {{ user.id }}</p>
                      <p class="text-muted font-size-sm">{{ user.direccion }}, {{ user.departamento }}</p>
                    </div>
                  </div>
                </div>
              </div>

<!-------------------------------- Redes sociales -------------------------------->             
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <!-- <span class="text-secondary">https://bootdey.com</span> -->
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <!-- <span class="text-secondary">@bootdey</span> -->
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <!-- <span class="text-secondary">bootdey</span> -->
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <!-- <span class="text-secondary">bootdey</span> -->
                  </li>
                </ul>
              </div>
<!-------------------------------- FIN Redes sociales -------------------------------->             
            </div>

            <section class="col-md-8">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" href="#nav-home">Perfil</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" href="#nav-profile">Cuotas</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" href="#nav-contact">Academico</button>
                  <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" href="#nav-disabled">Trabajos</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
<!-------------------------------- Datos personales -------------------------------->
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Nombres</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.nombre }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Apellidos</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.apellido_paterno}},  {{ user.apellido_materno}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Cédula</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.identificacion }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Fecha de nacimiento</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.fecha_nacimiento }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.correo_electronico }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Teléfono</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.telefono }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Celular</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.celular }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Dirección</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{ user.direccion }}, {{ user.departamento }}
                        </div>
                      </div>
                      <!-- <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                        </div>
                      </div> -->
                    </div>
                  </div>
<!-------------------------------- FIN Datos personales -------------------------------->
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
<!-------------------------------- Datos Cuotas -------------------------------->
                  <div class="card mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h4 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">HIstorico de Cuotas</i></h4>
                        {% if not cuotas %}
                        <h6>No tenemos datos para mostrar</h6>
                        {% endif %}
                        
                          <table class="table" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th scope="col" class="h6">Paga</th>
                                <th scope="col" class="h6">Mes Corresponde</th>
                                <th scope="col" class="h6">Importe</th>
                                <th scope="col" class="h6">Fecha Pago</th>
                                <th scope="col" class="h6">Metodo Pago</th>
                              </tr>
                            </thead>
                            <tbody class="table-group-divider">
                              {% for cuota in cuotas %}
                              <tr>
                                <!-- Fila pago -->
                                {% if cuota.estado == 'P' %}
                                    <td>Pago</td>
                                {% else %}
                                  <td>NO pago</td>
                                {% endif %}
                                <!-- FIN Fila pago -->
                                <td>{{cuota.mes_anio | date:"M Y"}}</td>
                                <td> &#36 {{cuota.importe}}</td>
                                <!-- Fila mes pago -->
                                {% if cuota.fecha_pago is None %}
                                    <td></td>
                                {% else %}
                                  <td>{{cuota.fecha_pago}}</td>
                                {% endif %}
                                <!-- FIN Fila mes pago -->
                                <!-- Fila Metodo pago -->
                                {% if cuota.fecha_pago is None %}
                                    <td></td>
                                {% else %}
                                  <td>{{cuota.metodo_pago}}</td>
                                {% endif %}
                                <!-- FIN Fila Metodo pago -->
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          <h6>Total adeudado: &#36 {{ total_pagar }}</h6>
                      </div>
                    </div>
                  </div>
<!-------------------------------- FIN Datos Cuotas -------------------------------->
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
<!-------------------------------- Datos Formación -------------------------------->
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h4 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Formación Académica</i></h4>
                        {% if not formaciones %}
                        <h6>No tenemos datos para mostrar</h6>
                        {% endif %}
                        {% for formacion in formaciones%}
                        <h6 class="font-weight-bold">Tipo de formación</h6>
                          <p class="card-text"> {{formacion.tipo_formacion}}</p>
                        <h6 class="font-weight-bold">Título</h6>
                          <p class="card-text"> {{formacion.titulo}}</p>
                        <h6 class="font-weight-bold">Fecha del título</h6>
                          <p class="card-text"> {{formacion.fecha_titulo}}</p>
                        <h6 class="font-weight-bold">Duración</h6>
                          <p class="card-text"> {{formacion.duracion}}</p>
                        <h6 class="font-weight-bold">Institución</h6>
                          <p class="card-text"> {{formacion.institucion}}</p>
                        <h6 class="font-weight-bold">Plan</h6>
                          <p class="card-text"> {{formacion.plan}}</p>
                        <h6 class="font-weight-bold">Fecha revalida</h6>
                          <p class="card-text"> {{formacion.fecha_revalida}}</p>
                        
                        <hr>
                        
                        {% endfor %}
                      </div>
                    </div>
                  </div>
<!-------------------------------- FIN Datos Formación -------------------------------->
                </div>
                <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
<!-------------------------------- Datos laborales -------------------------------->
                  <div class="card h-100">
                    <div class="card-body">
                      <h4 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Lugar de trabajo</i></h4>
                      {% if not trabajos %}
                      <h6>No tenemos datos para mostrar</h6>
                      {% endif %}
                      {% for trabajo in trabajos %}
                      <h6 class="font-weight-bold">Lugar</h6>
                        <p class="card-text"> {{trabajo.nombre}}</p>
                      <h6 class="font-weight-bold">Dirección</h6>
                        <p class="card-text"> {{trabajo.direccion}}</p>
                      <h6 class="font-weight-bold">Teléfono</h6>
                        <p class="card-text"> {{trabajo.telefono}}</p>
                      <h6 class="font-weight-bold">Cargo</h6>
                        <p class="card-text"> {{trabajo.cargo}}</p>
                      <h6 class="font-weight-bold">Perfil del cargo</h6>
                        <p class="card-text"> {{trabajo.perfil_cargo}}</p>
                      <h6>Fecha de ingreso</h6>
                        <p class="card-text"> {{trabajo.fecha_ingreso}}</p>
                      <h6 class="font-weight-bold">Fecha egreso</h6>
                        <p class="card-text"> {{trabajo.fecha_egreso}}</p>
                      
                      <hr>
                      
                      {% endfor %}
                    </div>
                  </div>
<!-------------------------------- FIN Datos laborales -------------------------------->
                </div>
              </div>
            </section>

        </div>
    </div>

{% endblock content %}